#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Visual_Paradigm_17.2
Exec="/home/tekketsu/Visual_Paradigm_17.2/bin/Visual_Paradigm" %U
Icon=/home/tekketsu/Visual_Paradigm_17.2/.install4j/Visual_Paradigm.png
Categories=Application;
StartupWMClass=install4j-RV
